input[type=text] {
  font-family: Georgia;
  font-size: 15px;
  background:rgba(255,255,255,0.0);
  border-style: none none solid none;
  -webkit-transition: 0.5s;
  transition: all 0.4s;
  outline: none;
  color: #c4b199;
}

input[type=text]:focus{
  background: linear-gradient(0deg, rgba(89, 0, 255,0.3) 0%, rgba(43, 43, 44, 0) 80%);
  border-style: none none solid none;
  border-color: black;
  transition: all 0.4s;
}

span{
  font-weight: bold;
  color: #032630;
}

div{
  color: #4f013a;
}
/* HeroDetailComponent's private CSS styles */
label {
  color: #032630;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
